$icon-font-path: '../bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/';

@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";

main {
    padding-top: 50px;
}

footer {
    margin-bottom: 20px;
}

.list-group-item.success {
    @extend .list-group-item-success;
}

.list-group-item.failure {
    @extend .list-group-item-danger;
}

#form {
    >div {
        @extend .form-group;
        input, textarea {
            @extend .form-control;
        }
    }
}

.table-striped {
    &.striped-even {
        > tbody > tr {
            &:nth-child(odd) {
                > td,
                > th {
                    background-color: transparent;
                }
            }
            &:nth-child(even) {
                > td,
                > th {
                    background-color: $table-bg-accent;
                }
            }
        }
    }
}

.form-horizontal .control-label {
    text-align: left;
}

.form-group {
    .help-block {
        padding: 0;
        list-style: none;
    }
}
