<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Marvin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block stylesheets %}
            <link href="/assets/marvin/themes/default/css/main.css" rel="stylesheet">
        {% endblock %}

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <header class="header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <ul class="nav nav-pills pull-right collapse navbar-collapse">
                    {% for item in app.menu %}
                        <li{% if item.slug == app.request.get('slug') or (loop.first and app.request.get('slug') == '') %} class="active"{% endif %}>
                            <a href="{% if loop.first %}{{ path('page') }}{% else %}{{ path('page', { slug: item.slug }) }}{% endif %}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <h3 class="text-muted"><a href="/">Marvin</a></h3>
            </header>

            <main class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </main>

            <footer class="footer">
                <div class="row">
                    <div class="col-md-6">&copy; Marvin 2014</div>
                    <div class="col-md-6 text-right">Powered by <a href="http://github.com/orthes/marvin" target="_blank">Marvin</a>, the open source micro CMS</div>
                </div>
            </footer>
        </div>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="/assets/marvin/marvin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
